@media (max-width: 600px) {
	.responsiveTable tbody {
		 
		 float:left;
		 overflow-x: scroll;
		 overflow-y: hidden;
	}
	.responsiveTable thead {
		 
		 float: left;
	}

	.responsiveTable tr{
		
		display: block;
		float: left;

	}

	.responsiveTable th{		
		display:block;		
	}

	.responsiveTable  td{
		max-width: 100%;
		display:block;		
		text-align: center;
	}

}

